<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-firestore" version="1.0.3">
  <name>Cordova Firestore Plugin</name>
  <description>Google Firebase Firestore</description>
  <license>MIT</license>
  <keywords>database, nosql, realtime, cloud</keywords>

  <dependency id="cordova-plugin-firebase-hooks"/>

  <engines>
      <engine name="cordova" version=">=6.0.0"/>
      <engine name="cordova-android" version=">=4.0.0"/>
      <engine name="cordova-plugman" version=">=4.2.0"/>
      <engine name="cordova-ios" version=">=4.5.4"/>
  </engines>

  <platform name="browser">
    <js-module src="www/browser/firestore.js" name="Firestore">
      <clobbers target="Firestore"/>
    </js-module>
  </platform>

  <platform name="android">
    <js-module src="www/firestore.js" name="Firestore">
      <clobbers target="Firestore"/>
    </js-module>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Firestore">
        <param name="android-package" value="uk.co.reallysmall.cordova.plugin.firestore.FirestorePlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <preference name="ANDROID_FIREBASE_VERSION" default="11.6.0"/>
    <framework src="com.google.firebase:firebase-firestore:$ANDROID_FIREBASE_VERSION"/>
    <framework src="com.google.code.gson:gson:2.8.2"/>
    <framework src="org.json:json:20171018"/>
    <framework src="firestore.gradle" custom="true" type="gradleReference"/>

    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/ActionHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/CollectionAddHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/CollectionGetHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/CollectionOnSnapshotHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/CollectionUnsubscribeHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/DocGetHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/DocOnSnapshotHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/DocSetHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/DocUnsubscribeHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/DocUpdateHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/EndAtQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/EndBeforeQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/FirestorePlugin.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/InitialiseHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/JSONDateWrapper.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/JSONHelper.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/LimitQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/OrderByQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/PluginResultHelper.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/QueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/QueryHelper.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/StartAfterQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/StartAtQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
    <source-file src="src/android/uk/co/reallysmall/cordova/plugin/firestore/WhereQueryHandler.java" target-dir="src/uk/co/reallysmall/cordova/plugin/firestore"/>
  </platform>

  <platform name="ios">
    <js-module src="www/firestore.js" name="Firestore">
      <clobbers target="Firestore"/>
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="Firestore">
        <param name="ios-package" value="FirestorePlugin" onload="true"/>
      </feature>
    </config-file>

    <framework src="Firebase/Firestore" type="podspec" spec="~> 2.0.7"/>

    <header-file src="src/ios/FirestorePlugin.h"/>
    <source-file src="src/ios/FirestorePlugin.m"/>
    <header-file src="src/ios/FirestorePluginJSONHelper.h"/>
    <source-file src="src/ios/FirestorePluginJSONHelper.m"/>
    <header-file src="src/ios/FirestorePluginResultHelper.h"/>
    <source-file src="src/ios/FirestorePluginResultHelper.m"/>
  </platform>

</plugin>
